@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Text:ital@0;1&family=UnifrakturMaguntia&display=swap');

*{
    margin: 0px;
    padding: 0px;

}
/* Index */
body{
    background-image: url(IMGS/Capa.jpg);
    height: 844px;
    width: 390px;
    display: flex;
    flex-direction: column;
}

h2{
    font-family: UnifrakturMaguntia;
    margin-top: 40px;
    text-align: center;
}
main{
    flex: 1;
}

h1 {
    font-family: dm-serif-text-regular;
    display: flex;
    flex-direction: column;          
    justify-content: center;         
    align-items: flex-start;
}

footer{
    text-align: center;
    color: white;  
}

footer small{
    background-color: black;
    border-radius: 0%;
}
