@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Text:ital@0;1&family=UnifrakturMaguntia&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Radley:ital@0;1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cormorant:ital,wght@0,300..700;1,300..700&family=Radley:ital@0;1&display=swap');
/* #fefae0 */ 
*{
    margin: 0px;
    padding: 0px;

}

body{
    height: 844px;
    width: 390px;
    display: flex;
    flex-direction: column;
}
.capa{
    background-image: url(IMGS/Capa_Revista_Stencil.jpg);
}

/* Main ocupar a pagina toda */
main{
    flex: auto;
}

/* Local e data */
header h1{
    margin-top: 8px;
    text-align: center;
    font-family: UnifrakturMaguntia;
    font-size: 2rem;
    color: black;
}

/* O que vai ter na pagina*/
h3{
    text-align: center;
    font-family: "Playfair Display"
}
/* Texto base da pagina */
h4{
    font-family: "Radley"
}

/* Título da reportagem */
h5{
text-align: center;
font-family: "Cormorant";
font-size: 2rem;
}
h6{
font-family: "Cormorant";
font-size: 1.25rem;
}


.btn-capa{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 750px auto;
}

.btn-capa a{
    text-decoration: none;
    color: black;
}

footer{
    position: fixed;
    width: 100%;
    bottom: 0;
    left: 0;
    margin-bottom: 16px;
    text-align: center;
}

footer small{
    background-color: black;
    font-family: UnifrakturMaguntia ;
    color: white;
}
