@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Text:ital@0;1&family=UnifrakturMaguntia&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Radley:ital@0;1&display=swap');

*{
    margin: 0px;
    padding: 0px;

}
/* Index */

body{
    height: 844px;
    width: 390px;
    display: flex;
    flex-direction: column;
}

body .capa{
    background-image: url(IMGS/Capa\ Revista.jpg);
}
header h1{
    margin-top: 8px;
    text-align: center;
    font-family: UnifrakturMaguntia;
    font-size: 2rem;
    color: black;
}
main{
    flex: auto;
}
nav{
    display: flex;                
    justify-content: flex-end;    
    align-items: flex-end;
}
h3{
    text-align: center;
    font-family: "Playfair Display"
}
h4{
    font-family: "Radley"
}
footer{
    position: fixed;
    width: 100%;
    bottom: 0;
    left: 0;
    padding: 15px;
    margin-bottom: 16px;
    text-align: center;
}

footer small{
    background-color: black;
    font-family: UnifrakturMaguntia ;
    color: white;
}
